<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WM Automation Suite" verbose="1" thread-count="1" parallel="none">

    <test name="WM Cucumber Tests">
        <classes>
            <class name="com.wm.automation.runners.TestRunner"/>
        </classes>
    </test>

</suite>
